body {

}

.wrapper{
  height: 500px;
  width: 650px;

}

#start {
  max-height: 500px;
  max-width: 650px;
}

#start-image {
  max-width: 500px;
  max-height: 650px;
}

#robotImage {
  height: 40%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.button {
  display: none;
}
