
body {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Courier, monospace;
  font-size: 1.2em;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed {
  background-color: transparent;
  color: red
}
